<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
	<meta name="generator" content="Hugo 0.108.0">
	<title>StoCus．Shelf</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">

	<link href="../static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="../static/css/dashboard.css" rel="stylesheet">
	<!-- jquery -->
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

</head>

<body>

	<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" style="height: 6.5vh;">
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">StoCus</a>
		<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
			data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<input class="form-control" type="text" placeholder="Search"aria-label="Search">

		<nav class="navbar navbar-expand-xxl navbar-dark bg-dark" aria-label="Seventh navbar example">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarsExampleXxl" aria-controls="navbarsExampleXxl" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="navbar-nav">
					<div class="nav-item text-nowrap">
						<a class="nav-link px-3" href="#">搜尋</a>
					</div>
				</div>

				<div class="navbar-nav">
					<div class="nav-item text-nowrap">
						<a class="nav-link px-3" href="/logout">登出</a>
					</div>
				</div>

			</div>
		</nav>

	</header>


	<div class="container-fluid">
		<div class="row">
			<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<div class="position-sticky pt-3 sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="/home">
								<span data-feather="home" class="align-text-bottom"></span>
								首頁
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/shelf">
								<span data-feather="file" class="align-text-bottom"></span>
								倉儲
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/cus">
								<span data-feather="shopping-cart" class="align-text-bottom"></span>
								顧客
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/event">
								<span data-feather="users" class="align-text-bottom"></span>
								事件
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/remind">
								<span data-feather="bar-chart-2" class="align-text-bottom"></span>
								提醒
							</a>
						</li>
					</ul>
			</nav>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1>倉儲 : 
						<button type="button" class="btn btn-sm btn-outline-secondary" >Shelf<% if (counter.length>=1) { %> : <%=shelf%><% }%></button>
						<button type="button" class="btn btn-sm btn-outline-secondary" >Counter</button>
					</h1>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group me-2">
							<button type="button" class="btn btn-sm btn-outline-secondary" id="cus">顧客</button>
							<button type="button" class="btn btn-sm btn-outline-secondary" id="sto">耗材</button>
						</div>
					</div>
				</div>

				<!-- Show all Shelf -->
				<% if (counter.length<1) { %>
					<div class="table-responsive" id="showcus">
						<table class="table table-striped table-sm">
							<thead>
								<form action="/shelf/newShelf" method="POST">
									<tr>
										<!-- <th><h3><b>倉儲 : </b></h3></th> -->
										<th>名稱:<input class="form-control" type="text" name="newname"></th>
										<th>數量:<input class="form-control" type="number" name="newamount"></th>
										<th><button type="submit">新增</button></th>
										<!-- <th><button type="submit">刪除</button></th> -->
									</tr>
								</form>
							</thead>
							<tbody>
								<tr>
									<% for (i=0;i<shelf.length;i++) { %>
										<th>
											<form action="/shelf/findShelf" method="POST">

												<input class="button"type="submit" name="shelfValue" value="<%= shelf[i] %>" style="width:200px;height:48px;font-size:12px;">
												
											</form>
										</th>
									<% } %>
								</tr>
								
							</tbody>
						</table>
					</div>
				<% } %>
				<!-- Show all shelf -->

				<!-- show all Counter -->
				<% if (counter.length>=1) { %>
					<div class="table-responsive" >
						<table class="table table-striped table-sm">
							<thead>
								<form action="/shelf/newCounter" method="POST">
									<tr>
										<th><h4><b>櫃位 : <input type="hidden" name="shelfName"  value="<%= shelf %>"> </b></h4></th>
										<th>名稱:<input class="form-control" type="text" name="newcname"></th>
										<th><button type="submit">新增</button></th>
										<!-- <th><button type="submit">刪除</button></th> -->
									</tr>
								</form>
							</thead>
							<tbody>
								<tr>
									<form action="/shelf/findCounter" method="POST">
										<input type="hidden" value="<%= shelf %>" name="shelf">
										<% for (i=0;i<counter.length;i++) { %>
											<th>
												<input class="button"type="submit" name="counter" value="<%= counter[i] %>" style="width:200px;height:48px;font-size:12px;">	
											</th>
										<% } %>
									</form>
								</tr>
								
							</tbody>
						</table>
					</div>
				 
				<% } %>
				<!-- show all counter -->
				
				<!-- show all ITEM -->
				<% if (item.length>=1) { %>
					<div class="table-responsive" >
						<table class="table table-striped table-sm">
							<thead>
								<form action="/counter/new" method="POST">
									<tr>
										<th><h4><b>物件 : </b></h4></th>
										<th>名稱:<input class="form-control" type="text" name="newname"></th>
										<th><button type="submit">新增</button></th>
										<!-- <th><button type="submit">刪除</button></th> -->
									</tr>
								</form>
							</thead>
							<tbody>
								<tr>
									<% for (i=0;i<item.length;i++) { %>
										<th>
											<form action="/shelf/findItem" method="POST">

												<input class="button"type="submit" name="counterValue" value="<%= item[i] %>" style="width:200px;height:48px;font-size:12px;">
												
											</form>
										</th>
									<% } %>
								</tr>
								
							</tbody>
						</table>
					</div>
				 
				<% } %>
				<!-- show all item -->

				
			</main>
		</div>
	</div>


	<script src="../static/js/bootstrap.bundle.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
		integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
		integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
		crossorigin="anonymous"></script>
	<script src="../static/js/shome.js"></script>
</body>

</html>